In [1]:
#Python basics
#Here you will find lot of basic codes in python to make self practice. Start writing the codes 
#given below in jupyter notebook.
#
#While writing the code you will find few task to be completed . Few of them are provided with hint
#and solutions.
#
#And many of task you may complete n your own.
#
#Happy Practicing!
#
#
#
#Practice these commands on Jupyter notebook
#
# 8+4
#
#16*5
#
# 50 - 5*6
#
#(50 - 5*6) / 4

In [2]:
#1

In [3]:
8+4

12

In [4]:
#2

In [5]:
16*5

80

In [6]:
#3

In [7]:
50-5*6

20

In [8]:
#4

In [9]:
50-5*6/4

42.5

In [10]:
# Now Write comment

# This is my first program.

# It prints the phrase "Hello, World"

# The comments are longer than the code!

#greeting = "Hello World of Python"
#
#print(greeting)
#
# 8 / 5 # division always returns a floating point number
#
#17 / 3 # classic division returns a float
#
#17 // 3 # floor division discards the fractional part
#
#17 % 3 # the % operator returns the remainder of the division
#
#5 * 3 + 2 # result * divisor + remainder
#
# 5 ** 2 # 5 squared
#
#2 ** 7 # 2 to the power of 7
#
#width = 20
#
#height = 5 * 9
#
#width * height
#
#print(width)
#
#print("The value of width=",width) # use single quote
#
#print('The value of width is=", width) # use double quote
#
#print("Value=",width*height)
#
#

In [11]:
"Hello, World!"

'Hello, World!'

In [12]:
greeting = "Hello World of Python"

In [13]:
print(greeting)

Hello World of Python

In [14]:
#division always returns a floating point number

In [15]:
8/5

1.6

In [16]:
 # classic division returns a float

In [17]:
17 / 3

5.666666666666667

In [18]:
 # floor division discards the fractional part

In [19]:
17 // 3

5

In [20]:
 # the % operator returns the remainder of the division

In [21]:
17 % 3

2

In [22]:
# result * divisor + remainder

In [23]:
5 * 3 + 2

17

In [24]:
 # 5 squared

In [25]:
 5 ** 2

25

In [26]:
#2 to the power of 7

In [27]:
2**7

128

In [28]:
#width = 20

#height = 5 * 9

#width * height

#print(width)

#print("The value of width=",width) # use single quote

#print('The value of width is=", width) # use double quote

#print("Value=",width*height

In [29]:
width=20

In [30]:
height=5*9

In [31]:
width*height

900

In [32]:
print(width)

20

In [33]:
#print("The value of width=",width) # use single quote

In [34]:
print('The value of width=',width)

The value of width= 20

In [35]:
#print('The value of width is=", width) # use double quote

In [36]:
print("The value of width is=", width)

The value of width is= 20

In [37]:
#print("Value=",width*height

In [38]:
print("Value=",width*height)

Value= 900

In [39]:
#Now try to print height yourself

In [40]:
print("The value of height is=",height)

The value of height is= 45

In [41]:
#tax = 12.5 / 100

#price = 100.50

#price * tax



#Task: Now try to print tax and price yourself

In [42]:
tax=12.5/100

In [43]:
price=100.50

In [44]:
price*tax

12.5625

In [45]:
# String concatenation

#"The "+"Sun"

#"The "+"Moon"

#"Planets"+" Universe"

#string1 = "Elon"

#string2 = "Musk"

#magic_string = string1 + string2

#magic_string

In [46]:
"The "+"Sun"

'The Sun'

In [47]:
"The "+"Moon"

'The Moon'

In [48]:
"Planets"+" Universe"

'Planets Universe'

In [49]:
string1 = "Elon"

string2 = "Musk"

magic_string = string1 + string2
magic_string

'ElonMusk'

In [50]:
#Make variable firstname and lastname and concatnate them with space.

In [51]:
first_name="Ruzaina"
last_name="khan"
full_name=first_name+last_name
full_name

'Ruzainakhan'

In [52]:
#Create two strings, use concatenation to add a space between them,

#and print the result.

# User Input

#prompt = "Hey, what's up? "

#user_input = input(prompt)

#print("You said: " + user_input)

In [53]:
prompt=input("Hey, what`s up?")

Hey, what`s up?good

In [54]:
user_input = input("How are you,bro?")
print("You said: " + user_input)

How are you,bro?good
You said: good

In [55]:
#Task: Take user input and make twice of that number

In [56]:
num=input("Enter a number to be double")
double_num=num*2
print(double_num)

Enter a number to be double5
55

In [57]:
 #Take user input and make twice of that number and typecast it to float.

In [58]:
num=input("Enter a number to be double ")
double_num=float(num*2)
print(double_num)

Enter a number to be double 67
6767.0

In [59]:
1

 #Write a program that uses input() twice to get two numbers from

#the user, multiplies the numbers together, and displays the result.

#If the user enters 2 and 4, then your program should print the

#following text:

#The product of 2 and 4 is 8.0

1

In [60]:
num1=int(input("enter your number"))
num2=int(input("enter your number"))
multi=num1*num2
print(f"The product of {num1} and {num2} is {multi}.0.")

enter your number2
enter your number4
The product of 2 and 4 is 8.0.

In [61]:
num1= int(input("Enter Your Number"))
num2= int(input("Enter Your Number"))
multi=num1 * num2
print(f"The product of {num1} and {num2} ={multi}")

Enter Your Number2
Enter Your Number4
The product of 2 and 4 =8

In [62]:
#Calculate simple interest by taking user input for priciple,rate and time .

#Hint:


#p=int(input("Enter principle"))

----

----

---

#simple_interest=(p*r*t)/100

SyntaxError: invalid syntax (4086383155.py, line 8)

In [ ]:
#Calculate simple interest by taking user input for priciple,rate and time .

#Hint:

#p=int(input("Enter principle"))

----

----

---

#simple_interest=(p*r*t)/100

In [63]:
p=int(input("Enter principle"))
r=int(input("Enter rate"))
t=int(input("Enter time"))
simple_interest=(p*r*t)/100
print(simple_interest)

Enter principle100
Enter rate20
Enter time2
40.0

In [ ]:
#Find length

#len("abc")

#letters = "abc"

#len(letters)

#Task:

#Create a string and print its length using len().

In [64]:
len("abc")

3

In [65]:
letters="abc"

In [66]:
len("letters")

7

In [67]:
my_self="My name is Ruzaina Khan"
len(my_self)

23