In [1]:
#Loops /if

#x=0

#define a while loop

#while(x <4):

  #print(x)

  #x = x+1

In [2]:
x=0
while(x<=4):
    print(x)
    x=x+1

0
1
2
3
4

In [3]:
#Print First 10 natural numbers using while loop

# program 1: Print first 10 natural numbers

In [4]:
x=1
while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [5]:
#for x in range(2,7):

  #print(x)

In [6]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [7]:
#Months = ["Jan","Feb","Mar","April","May","June"]

#for m in Months:

  #print(m)

In [8]:
Months=["Jan","Feb","Mar","April","May","June"]

In [9]:
for m in Months:
    print(m)

Jan
Feb
Mar
April
May
June

In [10]:
#Measure some strings:

 #words = ['cat', 'window', 'defenestrate']

#for w in words:

 #print(w)

#for w in words:

 #print(w, len(w))

In [11]:
words=['cat','window','defenestrate']

In [12]:
for w in words:
    print(w)

cat
window
defenestrate

In [13]:
for w in words:
    print(w,len(w))

cat 3
window 6
defenestrate 12

In [14]:
#range(5, 10)

#range(0, 10, 3)

#list(range(9))

In [15]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [16]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [17]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
#a = ['Mary', 'had', 'a', 'little', 'lamb']

#for i in range(len(a)):

 #print(i)

In [19]:
a=['Mary','had','a','little','lamb']
for i in range(len(a)):
    print(i)

0
1
2
3
4

In [20]:
#x=8

#y=4

 #if(x < y):
        #string="x is less than y"

    #else:
        #string="x is greater than y"

    #print (string)

In [21]:
x=8
y=4
if (x<y):
    st="x is less than y"
else:
    st="x is greater than y"
print(st)

x is greater than y

In [22]:
#x = int(input("Please enter an integer: "))

#Please enter an integer: 42

 #if x < 0:

#... x = 0

#... print('Negative changed to zero')

#elif x == 0:

#... print('Zero')

#elif x == 1:

#... print('Single')

#else:

#... print('More')

In [23]:
x=int(input("Enter your Number"))
if x<=0:
    print("Negative changed to zero")
elif x==0:
    print("z is equal to 0")
elif x==1:
    print("x is equal to q")
else:
    print("More than one and zero")

Enter your Number42
More than one and zero

In [24]:
#ask :write a program using if-elif with different country value and total values.

#total = 100

#country = "US"

#country = "AU"

#if country == "US":

    #if total <= 50:

        #print("Shipping Cost is $50")

#elif total <= 100:

        #print("Shipping Cost is $25")

#elif total <= 150:

     #print("Shipping Costs $5")

#else:

        #print("FREE")

In [25]:
total=100
country="AU"
if country =="US":
    if total <=50:
        print("Shipping cost is $50")
elif total<=100:
    print("Shipping cost is $50")
elif total<=150:
    print("Shipping cost is $5")
else:
    print("Shipping is free")

Shipping cost is $50

In [26]:
#if country == "AU":
#if total <= 50:
#print("Shipping Cost is $100")
#else:
#print("FREE")

In [27]:
total=100
if country=="AU":
    if total<=50:
        print("Shipping Cost is $100")
    else:
        print("Shipping is free")

Shipping is free

In [28]:
#Task : write a program to find even or odd using for loop /range function.
#Soln.
#for num in range(2, 10):
#... if num % 2 == 0:
#... print("Found an even number", num)
#... continue
#... print("Found a number", num)

In [29]:
for num in range(2,10):
    if num % 2==0:
        print("Found an even number",num)
    else:
        continue
        print("Found a number",num)

Found an even number 2
Found an even number 4
Found an even number 6
Found an even number 8

In [30]:
#Task :write two different loops for break if x is even number and continue when the number is divide by 5.
#Soln.
# use the break and continue statements
#for x in range (10,20):
#if (x == 15): break
#if (x % 2 == 0) : continue

   #print(x)

In [31]:
for x in range(10,20):
    if x==15:
        break
    if x%2==0:
        continue
    print(x)

11
13

In [32]:
#use the break and continue statements
#for x in range (10,20):
#if (x == 15): break
#if (x % 5 == 0) : continue
#print(x)

In [33]:
for x in range(10,20):
    if x==15:
        break
    if x%5==0:
        continue
    print(x)

11
12
13
14

In [34]:
#Display numbers divisible by 5 from a list.Iterate the given list of numbers and print only those numbers
#which are divisible by 5.

In [35]:
num = [10, 20, 33, 46, 55]

In [36]:
for x in num:
    if x%5==0:
        print(x)

10
20
55

In [37]:
#Calculate the sum of all numbers from 1 to a given number

In [39]:
num=int(input("Enter your number"))
sum=0
for i in range(1,num+1):
    sum=sum+i
print(sum,"\n")
print("sum is: ", sum)

Enter your number5
15

sum is:  15

In [ ]:
 #Write a program to print multiplication table of a given number

In [43]:
n=int(input("Enter your number"))
for i in range(1,11):
    print(f"{n}X{i}={n*i}")

Enter your number5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [44]:
n=int(input("enter your number"))
for i in range (1,21):
    print(f"{n}X{i}={n*i}")

enter your number7
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70
7X11=77
7X12=84
7X13=91
7X14=98
7X15=105
7X16=112
7X17=119
7X18=126
7X19=133
7X20=140

In [ ]:
#Practice below codes for list comprehension
#vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled

#[x*2 for x in vec]

In [45]:
vec = [-4, -2, 0, 2, 4]

In [46]:
sal=[x*2 for x in vec]

In [47]:
sal

[-8, -4, 0, 4, 8]

In [ ]:
 #call a method on each element

#freshfruit = [' banana', ' loganberry ', 'passion fruit ']

#[weapon.strip() for weapon in freshfruit]

In [48]:
freshfruit=['banana','loganberry','passion fruit']

In [50]:
fruit=[weapon.strip()for weapon in freshfruit]

In [51]:
fruit

['banana', 'loganberry', 'passion fruit']

In [ ]:
# create a list of 2-tuples like (number, square)
#[(x, x**2) for x in range(6)]
#see the output :
#[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [53]:
[(y,y**2)for y in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
#To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while
#leaving the source unaltered.
#basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
#for f in sorted(set(basket)):
#... print(f)

In [54]:
basket=['apple','orange','apple','pear','orange','banana']

In [57]:
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [ ]:
#To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the
#reversed() function.
#for i in reversed(range(1, 10, 2)):
#... print(i)

In [58]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [60]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1